.wrapper {
  height: 272px;
  width: inherit;
  display: flex;
  height: auto;
  justify-content: center;
  padding-top: 6%;
  animation-delay: 0.25s;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panelComponent {
  display: flex;
  flex-direction: column;
  border-top: 2px solid black;
  width: 177px;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  transition: 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.panelComponentTransition {
  width: 476px;
  transition-delay: 0.25s;
}
.greet {
  position: relative;
  bottom: -90px;
  margin: 0;
  letter-spacing: 0;
  font-size: 23px;
  line-height: normal;
  opacity: 0;
  margin-bottom: 35px;
}
.greetIn{
  animation: greetingOpening 0.6s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
.greetOut {
  animation: greetClosing 0.6s cubic-bezier(0.23,1,0.32,1) forwards;
}
@keyframes greetingOpening {
  to {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes greetClosing {
  0% {
    opacity:1;
    bottom: 0px;
  }
  35%{
    opacity:0;
  }
  100% {
    bottom: -90px;
  }
}
.formEmail {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  margin-top: 30px;
  height: 250px;
  top: -300px;
}
.formEmailIn{
  animation: emailOpening 0.25s cubic-bezier(0.54, -0.23, 0.02, 0.8) forwards;
  animation-delay: 0.2s;
}
.formEmailOut {
  animation: emailClosing 0.25s cubic-bezier(0.54, -0.23, 0.02, 0.8) forwards;
}
@keyframes emailOpening {
  to {
    top: 0px;
  }
}
@keyframes emailClosing {
  from {
    top:0;
  }to {
    top:-400px;
  }
}
.formEmail p {
  font-size: 14px;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  opacity: 0;
  animation: opacityShowUp 0.4s cubic-bezier(0.72, -0.41, 0.52, 0.53) forwards;
  animation-delay: 0.2s;
}
.formEmail input {
  height: 42px;
  padding: 0 18px;
  border: 2px solid black;
  border-radius: 20px;
  width: 50%;
  opacity: 0;
  writing-mode: horizontal-tb !important;
  font-style: italic;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  animation: inputShow 0.4s cubic-bezier(0.72, -0.41, 0.52, 0.53) forwards;
  animation-delay: 0.3s;
}
@keyframes inputShow {
  to {
    opacity: 1;
    width: 100%;
  }
}
.formEmail input::placeholder {
  font-style: italic;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  text-overflow: ellipsis;
}

.formEmail input:focus {
  outline: none !important;
}
.formEmail button {
  border-radius: 24px;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  height: 42px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  outline: none;
  white-space: nowrap;
  background-color: #306850;
  border: 1px solid #306850;
  color: white;
  opacity: 0;
  display:block;
  transition: 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  animation: opacityShowUp 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation-delay: 0.5s;
  width: 200px;
}

.formEmail button:hover {
  color: #306850;
  background-color: transparent;
}
@keyframes opacityShowUp {
  to {
    opacity: 1;
  }
}
